# .env.example - Salin file ini menjadi .env lalu isi nilainya

# Konfigurasi Port Server
BACKEND_PORT=5000
FRONTEND_PORT=80

# Alamat IP Server (Ganti dengan IP Tailscale/Public/Lokal server tujuan)
# Contoh: http://100.118.136.126:5000
VITE_API_URL=http://LOCALHOST_ATAU_IP_SERVER_ANDA:5000

# Konfigurasi Database
MONGO_URI=mongodb://mongo:27017/jarchive_db

# Keamanan (Ganti dengan string acak yang panjang)
JWT_SECRET=your_jwt_secret_key_here