BACKEND_PORT=#{YOUR_BACKEND_PORT}
FRONTEND_PORT=#{YOUR_FRONTEND_PORT}
VITE_API_URL=#http://[Your IP Here]:5000

JWT_SECRET=#{YOUR_JWT_SECRET}

ADMIN_USER=guru
ADMIN_PASS=admin123
SISWA_USER=siswa
SISWA_PASS=jarchive

MONGO_ROOT_USER=root
MONGO_ROOT_PASS=password123

MONGO_URI=mongodb://root:password123@mongo:27017/jarchive?authSource=admin