BACKEND_PORT=#[YOUR_BACKEND_PORT]
FRONTEND_PORT=#[YOUR_FRONTEND_PORT]
VITE_API_URL=#http://[Your IP Here]:[YOUR_BACKEND_PORT]

JWT_SECRET=#[YOUR_JWT_SECRET]

ADMIN_USER=guru #You can change this to your desired admin username
ADMIN_PASS=admin123 #You can change this to your desired admin password, but make sure to keep it secure
SISWA_USER=siswa #You can change this to your desired siswa username
SISWA_PASS=jarchive #You can change this to your desired siswa password, but make sure to keep it secure

MONGO_PORT=#[YOUR_MONGO_PORT]
MONGO_ROOT_USER=#[YOUR_MONGO_ROOT_USER]
MONGO_ROOT_PASS=#[YOUR_MONGO_ROOT_PASS]

MONGO_URI=mongodb://[YOUR_MONGO_ROOT_USER]:[YOUR_MONGO_ROOT_PASS]@mongo:27017/jarchive_db?authSource=admin